.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.col-4 {
    padding: 0 10px;
    width: 40%;
}

.col-6 {
    padding: 0 10px;
    width: 60%;
}

.col-8 {
    width: 80%;
}

.col-5 {
    width: 50%;
}

.section-padding {
    padding: 20px 0;
}

@media (max-width: 767px) {
    .col-4 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    .col-8 {
        width: 100%;
    }

    .container {
        padding: 0 20px;
    }
}